[user]
    name = Neil Lyons
    email = nwjlyons@googlemail.com
[color]
    ui = auto
[alias]
    s = status
    a = add . -vA
    c = commit
    d = diff
    dc = diff --cached
    # Diffs since last tag
    dt = "!sh -c 'git diff "$(git describe --tags --abbrev=0)"..HEAD --oneline'"
    dl = "!sh -c 'f() { git diff $0..HEAD --oneline; }; f'"
    # Diff current branch against another branch.
    db = "!sh -c 'f() { git diff $0.."$(git describe --tags --abbrev=0)" --oneline;}; f'"
    f = fetch
    l = log --pretty=format:'%C(bold)%h%Creset -%C(yellow reverse)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit 
    lg = "!sh -c 'git l --graph'"
    # Todays commits
    lt = "!sh -c 'git l --since=\"$(date  +\"%F 00:00:00\")\"'"
    # Log of my commits
    lm = "!sh -c 'git l --author=\""$(git config user.name)"\"'"
    # Log of my commits today
    lmt= "!sh -c 'git l --since=\"$(date  +\"%F 00:00:00\")\" --author=\""$(git config user.name)"\"'"
    ld = "!sh -c 'git l "$(git describe --tags --abbrev=0)"..HEAD'"
    b = branch
    co = checkout
    corb = "!sh -c 'f(){ git branch $0 origin/$0; };f'"
    p = "!git push origin \"$(git rev-parse --abbrev-ref HEAD)\"" 
    pu = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\"" 
    ff = "!git merge --ff-only origin/\"$(git rev-parse --abbrev-ref HEAD)\""
    m = merge
    fff = "!sh -c 'git f && git ff'"
    rdel = "push origin --delete"
